.introduction {
    width: 100%;
    height: 100vh;
    position: relative;
}

.introduction::before {
    content: '';
    position: absolute;
    height: 300px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 12;
    background: linear-gradient(to top, #203636, transparent);
}

.introduction .fieldText {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 25%;
    transition: 0.5s all ease-in-out;
}

.introduction.sticky .fieldText {
    padding: 0 15%;
}

.introduction .fieldText h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
}

.introduction .fieldText p {
    color: #ffffff;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 300;
}

.introduction .fieldText a {
    background: #f29200;
    color: #ffffff;
    padding: 15px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
    text-transform: capitalize;
}

.introduction .fieldText a:hover {
    letter-spacing: 4px;
    background: #f29200;
}

.introduction .fieldIMG {
    width: 100%;
    height: 100%;
    position: relative;
}

.introduction .fieldIMG::before {
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    /* background: #000000; */
    background: #203636aa;
}

.introduction .fieldIMG img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}






















.aboutTextFirst {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #203636;
}

.aboutTextFirst .container {
    padding: 100px 45px 0px 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutTextFirst .container .leftField {
    width: 250px;
    height: 360px;
}

.aboutTextFirst .container .rightField {
    width: 100%;
}

.aboutTextFirst .container .rightField h1 {
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.aboutTextFirst .container .rightField h1 span {
    color: #f29200;
}

.aboutTextFirst .container .rightField h2 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: .32px;
    margin-bottom: 10px;
}

.aboutTextFirst .rightField p {
    margin-bottom: 18px;
    color: #ffffff;
    font-size: 16px;
    margin-top: 5px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: .80px;
}

.aboutTextFirst .container .leftField .aboutImg {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    z-index: 2;
}

.aboutTextFirst .container .leftField .aboutImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
    border: 10px solid #203636;
    border-radius: 10px;
}

.aboutTextFirst .container .leftField .aboutImg::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid #f29200;
    z-index: 1;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .aboutTextFirst .container {
        flex-direction: row;
    }

    .aboutTextFirst .container .rightField {
        text-align: left;
        padding: 30px;
    }

    .aboutTextFirst .container .rightField {
        font-size: 25px;
        padding: 20px 0px 20px 30px;
    }

    .aboutTextFirst .container .rightField h1 {
        font-size: 30px;
        font-weight: 300;
        color: #ffffff;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-align: left;
    }

    .aboutTextFirst .container .leftField {
        width: 600px;
        height: 400px;
        padding-left: 45px;
    }

    .aboutTextFirst .container .leftField .aboutImg::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid #f29200;
    }
}

@media (max-width: 760px) {
    .aboutTextFirst .container {
        padding: 40px 20px;
    }
}









.aboutText {
    width: 100%;
    /* min-height: 100vh; */
    position: relative;
}

.aboutText .container {
    width: 100%;
    height: 100%;
    display: flex;
    /* padding: 0px 40px; */
}

.aboutText .container .textField {
    width: 50%;
    height: auto;
    padding: 100px 40px;
    background-color: #203636;
}

.aboutText .container .textField h1 {
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.aboutText .container .textField p {
    margin-bottom: 18px;
    color: #ffffff;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 300;
}


.aboutText .container .complementField {
    width: 50%;
    height: auto;
    padding: 100px 40px;
    background-color: #2f4f4f;
}

.aboutText .container .complementField .fieldIMG {
    width: 100%;
    height: 100%;
    position: relative;
}

.aboutText .container .complementField .fieldIMG img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

















.servicesFirst {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #2f4f4f;
    padding: 100px 40px;
}

.servicesFirst .container {
    border-radius: 10px;
    margin: 0 0 30px 0;
    position: relative;
    padding: 32px 56px;
    transition: 1s ease-in-out;
    background-color: #203636;
    box-shadow: 0 4px 30px -7px #00000066;
}

.servicesFirst .container h1 {
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.2;
    cursor: pointer;
    color: #ffffff;
    text-align: left;
}

.servicesFirst .container h2 {
    text-align: left;
    margin: 5px 0px 15px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 100;
}

.servicesFirst .container .bar {
    width: 50px;
    height: 5px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f29200;
    transition: width 0.2s ease;
}

.servicesFirst .container:hover .bar {
    width: 110px;
}

.servicesFirst .container .contentTime {
    display: flex;
}

.servicesFirst .container .contentTime .contentTime2 {
    margin-right: 40px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
    color: #f29200;
    font-weight: bold;
    text-transform: uppercase;
}

.servicesFirst .container .contentTime .contentTime2 p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.servicesFirst .container .content:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
    background: #ffffff;
    transition: 0.5s ease-in-out;
}

.servicesFirst .container:nth-child(2n+1) {
    flex-direction: row;
    transition: 0.5s ease-in-out;
}

.servicesFirst .container:nth-child(2n+0) {
    flex-direction: row-reverse;
    transition: 0.5s ease-in-out;
}

.servicesFirst .container:nth-child(2n+1) .container::before {
    left: -12px !important;
    transform: rotate(4deg);
    background-color: #ffffff;
    transition: 0.5s ease-in-out;
}

.servicesFirst .container:nth-child(2n+0) .container::before {
    right: -12px !important;
    transform: rotate(-4deg);
    background: #ffffff;
    transition: 0.5s ease-in-out;
}

@media (max-width: 991px) {
    .servicesFirst {
        padding: 20px 40px 60px;
    }

    .servicesFirst .container {
        flex-wrap: wrap;
    }

    .servicesFirst .content {
        padding: 25px 15px 15px 15px;
    }

    .servicesFirst .container:before {
        position: absolute;
        display: block;
        top: 0;
        height: 10px;
        width: 200%;
        left: 0px;
    }

    .servicesFirst .container:nth-child(2n+0) {
        display: block;
    }

    .servicesFirst .container:nth-child(2n+1) .container::before {
        left: 0px;
        transform: rotate(0deg);
        background: #ffffff;
        transition: 0.5s ease-in-out;
    }

    .servicesFirst .container:nth-child(2n+0) .container::before {
        left: 0px;
        transform: rotate(0deg);
        background: #ffffff;
        transition: 0.5s ease-in-out;
    }

    .servicesFirst .container h1 {
        font-size: 28px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .servicesFirst {
        padding: 20px 20px 60px;
    }

    .servicesFirst .container {
        padding: 10px;
    }

    .servicesFirst .container .contentTime {
        display: block;
        margin: 15px 0px;
    }

    .servicesFirst .container .content h2 {
        margin: 5px 0px;
    }
}



/* @media only screen and (min-width: 0px) and (max-width: 767px) {

    .products .container .card:nth-child(4) {
        display: block;
    }
} */


















.services {
    width: 100%;
    min-height: 100vh;
    background: #203636;
    position: relative;
    padding: 100px;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.services .content .contentServices {
    padding: 40px 20px;
    max-width: 340px;
    margin: 20px;
    transition: 0.5s;
    text-align: center;
    background: #2f4f4f;
}

.services .content .contentServices:hover {
    background: #f29200;
    cursor: pointer;
}

/* .services .content .contentServices i {
    font-size: 80px;
    max-width: 80px;
    transition: 0.5s;
}

.services .content .contentServices:hover i {
    filter: invert(1);
} */

.services .content .contentServices h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
    color: #ffffff;
}

.services .content .contentServices:hover h2 {
    color: #ffffff;
}

.services .content .contentServices p {
    margin: 0;
    transition: 0.5s;
    color: #ffffff
}

.services .content .contentServices:hover p {
    color: #ffffff
}

@media (max-width: 991px) {
    .services {
        padding: 40px;
    }

    .services .content .contentServices {
        padding: 30px;
        min-width: 100%;
        margin: 10px;
    }
}

@media(max-width:760px) {
    .services .content .contentServices {
        max-width: 100%;
        width: 100%;
        margin: 10px 0;
        padding: 10px;
    }
}












.latestInformation {
    width: 100%;
    height: 100%;
    background: #203636;
    position: relative;
}

.latestInformation .container {
    width: 100%;
    height: 100%;
    padding: 0px 40px 100px 40px;
}












.title,
.titleNight {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 0 15%;
}

.title h2 {
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.title p {
    margin-bottom: 18px;
    color: #ffffff;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 300;
}

.titleNight h2,
.titleNight p {
    color: #f29200;
}